@import "defaults";
@import 'susy';

// Susy setup
body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  @include container(70em);
}


// Assorted styling
.info {
  padding-left: 15px;
  padding-right: 50px;
}
h1 {
  font-size: 35px;
}
#image1 {
  padding: 15px;
  width: 500px;
}
#image2 {
  width: 1000px;
}

// Prevalence section
#prevalence {
  @include span (1 of 1 last);
}
#disorders {
  @include span (4 of 8);
}
#productivity {
  @include span(4 of 8 last);
}
#response {
  padding-top: 25px;
  @include span(8 of 8 last);
}


// Company section
#companies{
  @include span (1 of 1 last);
}
#benefits {
  padding-top: 25px;
  @include span(4 of 8);
}
#leave {
  padding-top: 25px;
  @include span(4 of 8 last);
}
#treatment {
  padding-top: 25px;
  @include span(8 of 8 last);
}


// Results section
#factors {
  @include span (1 of 1 last);
}
#introML {
  @include span (1 of 1 last);
}
#data {
  @include span (2 of 4);
}
#results {
  @include span (2 of 4 last);
  // height: 500px;
}
#image {
  @include span (4 of 4 last);
}
#conclusions {
  @include span (4 of 4 last);
}


//Footer
#references {
  @include span (2 of 4);
}
#acknowledgements {
  @include span (2 of 4 last);
}
